# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directory
.venv/

# Ignore environment variables file
.env

# Ignore database files (if using SQLite)
*.sqlite3

# Ignore IDE-specific files
.vscode/
.idea/
*.iml


