# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directory
.venv/



# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Ignore environment configuration file
.env

# Ignore application instance folder
app/instance/

# Ignore database migrations folder
app/migrations/
